.contenedor{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.izquierda{
    width: 50vw;
    background-color: #F388AD;
    height: 100vh;
    background-image: url('../img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.derecha{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
    border: 0px;
}

.boton{
    width: 30%;
    border: 0px;
    background-color: #F388AD;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 13px;
}